# Question One

In [42]:
import numpy as np
import matplotlib.pyplot as plt
from scipy.optimize import fsolve
import pandas as pd

In [43]:
def f_system(x):
    y=float(x[0])
    y_star=float(x[1])
    lamda=float(x[2])
    return np.array([100/95.46-1-y, (100*(1-lamda)+0.52*100*lamda)/94.5-1-y_star,(1-(1+y)/(1+y_star))/(1-0.52)-lamda])

sol = fsolve(f_system, [1,1,1])
print(f'y is {sol[0]:.2f}, y_star is {sol[1]:.2f}, lambda is {sol[2]:.2f}')

y is 0.05, y_star is 0.05, lambda is 0.01

# Question Two

In [117]:
df=pd.read_csv('six_stocks_since_2016.csv')
df.head()

,PERMNO,date,TICKER,COMNAM,DIVAMT,PRC,RET,SHROUT,vwretd,ewretd,sprtrn
0,14593,20160129,AAPL,APPLE INC,NaN,97.34,-0.075242,5544583,-0.057148,-0.074934,-0.050735
1,14593,20160229,AAPL,APPLE INC,0.52,96.69,-0.001335,5544583,0.000613,0.005564,-0.004128
2,14593,20160331,AAPL,APPLE INC,NaN,108.99,0.127211,5478446,0.070554,0.078181,0.065991
3,14593,20160429,AAPL,APPLE INC,NaN,93.74,-0.139921,5477425,0.011725,0.039818,0.002699
4,14593,20160531,AAPL,APPLE INC,0.57,99.86,0.071368,5477425,0.014354,-0.000584,0.015329

In [118]:
df['size']=df['PRC']*df['SHROUT']
df.head()

,PERMNO,date,TICKER,COMNAM,DIVAMT,PRC,RET,SHROUT,vwretd,ewretd,sprtrn,size
0,14593,20160129,AAPL,APPLE INC,NaN,97.34,-0.075242,5544583,-0.057148,-0.074934,-0.050735,5.397097e+08
1,14593,20160229,AAPL,APPLE INC,0.52,96.69,-0.001335,5544583,0.000613,0.005564,-0.004128,5.361057e+08
2,14593,20160331,AAPL,APPLE INC,NaN,108.99,0.127211,5478446,0.070554,0.078181,0.065991,5.970958e+08
3,14593,20160429,AAPL,APPLE INC,NaN,93.74,-0.139921,5477425,0.011725,0.039818,0.002699,5.134538e+08
4,14593,20160531,AAPL,APPLE INC,0.57,99.86,0.071368,5477425,0.014354,-0.000584,0.015329,5.469757e+08

In [121]:
group=df.sort_values('size', ascending=True).groupby('date', as_index=False).last()
group

,date,PERMNO,TICKER,COMNAM,DIVAMT,PRC,RET,SHROUT,vwretd,ewretd,sprtrn,size
0,20160129,14593,AAPL,APPLE INC,NaN,97.34000,-0.075242,5544583,-0.057148,-0.074934,-0.050735,5.397097e+08
1,20160229,14593,AAPL,APPLE INC,0.52,96.69000,-0.001335,5544583,0.000613,0.005564,-0.004128,5.361057e+08
2,20160331,14593,AAPL,APPLE INC,2.29,108.99000,0.127211,5478446,0.070554,0.078181,0.065991,5.970958e+08
3,20160429,14593,AAPL,APPLE INC,NaN,93.74000,-0.139921,5477425,0.011725,0.039818,0.002699,5.134538e+08
4,20160531,14593,AAPL,APPLE INC,0.57,99.86000,0.071368,5477425,0.014354,-0.000584,0.015329,5.469757e+08
...,...,...,...,...,...,...,...,...,...,...,...,...
70,20211130,14593,AAPL,APPLE INC,0.22,165.30000,0.104940,16406397,-0.018347,-0.046540,-0.008334,2.711977e+09
71,20211231,14593,AAPL,APPLE INC,4.13,177.57001,0.074229,16344923,0.033345,-0.001760,0.043613,2.902368e+09
72,20220131,14593,AAPL,APPLE INC,0.40,174.78000,-0.015712,16319441,-0.059754,-0.068191,-0.052585,2.852312e+09
73,20220228,14593,AAPL,APPLE INC,0.22,165.12000,-0.054011,16319441,-0.022027,-0.007667,-0.031361,2.694666e+09
74,20220331,14593,AAPL,APPLE INC,4.88,174.61000,0.057473,16319441,0.030696,0.015438,0.035773,2.849538e+09

question 4

In [128]:
ticker=group.groupby('TICKER').count()
display(ticker)
print(f'There are {len(ticker)} companies have ever held the top spot as largest firm')

,date,PERMNO,COMNAM,DIVAMT,PRC,RET,SHROUT,vwretd,ewretd,sprtrn,size
TICKER,,,,,,,,,,,
AAPL,71,71,71,51,71,71,71,71,71,71,71
AMZN,4,4,4,3,4,4,4,4,4,4,4

There are 2 companies have ever held the top spot as largest firm

In [133]:
times=0
for i in range(1,len(group['TICKER'])):
    if group['TICKER'][i]!= group['TICKER'][i-1]:
        times+=1
print(f'There are {times} times when the top firm changed')

There are 4 times when the top firm changed